---
layout: default
---

<div class="well">
    <h1>Categories</h1>
    <strong>Regression</strong>
    <ul>
        {% for post in site.categories.Regression %}            
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul> 
    <strong>Classification</strong>
    <ul>
        {% for post in site.categories.Classification %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>   
        {% endfor %}
    </ul>
    <strong>Clustering</strong>
    <ul>
        {% for post in site.categories.Clustering %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>  
        {% endfor %}
    </ul> 
    <strong>Deep Learning</strong>
    <ul>
        {% for post in site.categories.DeepLearning %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>   
        {% endfor %}
    </ul>
    <strong>Natural Language Processing</strong>
    <ul>
        {% for post in site.categories.NLP %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>  
        {% endfor %}
    </ul> 
    <strong>Statistics</strong>
    <ul>
        {% for post in site.categories.Stats %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul> 
    <strong>Pandas</strong>
    <ul>
        {% for post in site.categories.Pandas %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>  
        {% endfor %}
    </ul>  
    <strong>Miscellaneous</strong>
    <ul>
        {% for post in site.categories.More %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>  
        {% endfor %}
    </ul>        
</div>