<h1>Categories</h1>
<ul>
    <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
    <li class="active"><a href="{{ site.baseurl }}/Regression.html">Regression</a></li>
    <li class="active"><a href="{{ site.baseurl }}/Classification.html">Classification</a></li>
    <li class="active"><a href="{{ site.baseurl }}/Clustering.html">Clustering</a></li>
    <li class="active"><a href="{{ site.baseurl }}/ReinforcementLearning.html">Reinforcement Learning</a></li>
    <li class="active"><a href="{{ site.baseurl }}/DeepLearning.html">Deep Learning</a></li>
    <li class="active"><a href="{{ site.baseurl }}/More.html">More</a></li>
    <li class="active"><a href="{{ site.baseurl }}/Stats.html">Stats</a></li>
    <li class="active"><a href="{{ site.baseurl }}/About/">About</a></li>
    <!--
    <li class="active"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
  -->

</ul>
